* {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow-y: hidden; /* for zooming on images */
  background-color: #5dafb8;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper-column {
  max-width: 65vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  height: 90vh;
  border-radius: 13px;
  box-shadow: 20px 40px 33px rgba(0,0,0,0.3);
  padding: 2rem;
  background-color: #6cc2ce;
}

.table {
  display: table;
}

.relief {
  min-width: 65vw;
  min-height: 40%;
  height: 100%;
}

canvas {
  border-radius: 13px;
}

.quiz {
  width: 25vw;
  display: table-cell;
  vertical-align: middle;
}

img {
  border-radius: 13px;
  max-width: 80%;
  max-height: 60%;
  transition: transform 0.2s 0.0s;
}

img:hover {
  transform: scale(1.75);
}

.infoText {
  font-size: 18px;
  text-align: justify;
  margin-top: 20px;
  margin-left: -20px;
  margin-right: -20px;
}

.introText {
  font-size: 17px;
  text-align: justify;
  background: #fff4e3;
  border-radius: 13px;
  padding: 30px 60px;
}

.introText button {
  background: linear-gradient(90.04deg, #800080 0.03%, #ffc0cb 99.96%);
  border-radius: 9px;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 42px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

/* "inspired" from https://www.codevertiser.com/quiz-app-using-reactjs/ */
.quiz-container {
  background: #fff4e3;
  border-radius: 13px;
  padding: 30px 60px;
}

.quiz-container .active-question-no {
  font-size: 32px;
  font-weight: 500;
  color: #800080;
}

.quiz-container .total-question {
  font-size: 16px;
  font-weight: 500;
  color: #e0dee3;
}

.quiz-container h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.quiz-container ul {
  margin-top: 20px;
}

.quiz-container ul li {
  text-decoration: none;
  list-style: none;
  color: #2d264b;
  font-size: 16px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 11px;
  margin-top: 15px;
  cursor: pointer;
}

.quiz-container ul .selected-answer {
  background: #ffd6ff;
  border: 1px solid #800080;
}

.quiz-container button {
  background: linear-gradient(90.04deg, #800080 0.03%, #ffc0cb 99.96%);
  border-radius: 9px;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 42px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.quiz-container button:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.result h3 {
  font-size: 24px;
  letter-spacing: 1.4px;
  text-align: center;
}

.result p {
  font-size: 16px;
  font-weight: 500;
}

.result p span {
  color: #800080;
  font-size: 22px;
}
