* {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow-y: hidden; /* for zooming on images */
  background-color: #5dafb8;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper-column {
  max-width: 65vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  height: 90vh;
  border-radius: 13px;
  box-shadow: 20px 40px 33px rgba(0,0,0,0.3);
  padding: 2rem;
  background-color: #6cc2ce;
}

.table {
  display: table;
}

.relief {
  min-width: 65vw;
  min-height: 40%;
  width: 65vw;
  height: 100vh;
}

canvas {
  border-radius: 13px;
}

.quiz {
  width: 25vw;
  display: table-cell;
  vertical-align: middle;
}

img {
  border-radius: 13px;
  max-width: 100%;
  max-height: 60%;
  transition: transform 0.2s 0.0s;
}

img:hover {
  transform: scale(1.5);
}

.infoText {
  font-size: 18px;
  text-align: justify;
  hyphens: auto;
  margin-top: 20px;
  margin-left: -20px;
  margin-right: -20px;
}

.introText {
  font-size: 16px;
  text-align: justify;
  hyphens: auto;
  background: #fff4e3;
  border-radius: 13px;
  padding: 30px 40px;
}

.introText button {
  background: linear-gradient(90.04deg, #800080 0.03%, #ffc0cb 99.96%);
  border-radius: 9px;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 42px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.gapfilltext {
  margin-top: 20px;
}

/* stolen from https://react-bootstrap.github.io/forms/select/ */
.gapfilltext select {
  padding: .175rem 1.75rem .175rem .75rem;
  margin: .375rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: .375rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  appearance: none;
}

/* "inspired" from https://www.codevertiser.com/quiz-app-using-reactjs/ */
.quiz-container {
  background: #fff4e3;
  border-radius: 13px;
  padding: 30px 60px;
}

.quiz-container .active-question-no {
  font-size: 32px;
  font-weight: 500;
  color: #800080;
}

.quiz-container .total-question {
  font-size: 16px;
  font-weight: 500;
  color: #e0dee3;
}

.quiz-container h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.quiz-container ul {
  margin-top: 20px;
}

.quiz-container ul li {
  text-decoration: none;
  list-style: none;
  color: #2d264b;
  font-size: 16px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 11px;
  margin-top: 15px;
  cursor: pointer;
}

.quiz-container ul .selected-answer {
  background: #ffd6ff;
  border: 1px solid #800080;
}

.quiz-container button {
  background: linear-gradient(90.04deg, #800080 0.03%, #ffc0cb 99.96%);
  border-radius: 9px;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 42px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.quiz-container button:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.result h3 {
  font-size: 24px;
  letter-spacing: 1.4px;
  text-align: center;
}

.result p {
  font-size: 16px;
  font-weight: 500;
}

.result p span {
  color: #800080;
  font-size: 22px;
}
